footer {
  background-color: #b5b5af;
  padding: 3rem 1.5rem;
  min-height: 10rem;
  color: #fff;

  .copyrights {
    text-align: center;
    font-size: .75rem;

    a {
      text-decoration: inherit;
      color: inherit;
    }
  }
}
