<footer fxLayout="row" fxLayout.lt-md="col" fxLayoutAlign="space-between">
  <div fxLayout="col" fxFlex="15%">
    <p>ZPHU Falco Henryk Słowikowski
      <br>NIP 7451331010, REGON 510476328
      <br>ul. Olsztyńska 11F, 12-122 Jedwabno
    </p>
  </div>
  <div fxLayout="col" fxFlex="50%" fxLayoutAlign="center center">
    <p class="copyrights">Copyright&nbsp;©&nbsp;2020&nbsp;<a href="http://www.codeve.pl/">Codeve</a>. All&nbsp;rights&nbsp;reserved.</p>
  </div>
  <div fxLayout="col" fxFlex="15%"></div>
</footer>
