footer {
  background-color: #b5b5af;
  padding: 3rem 1.5rem;
  min-height: 10rem;
  color: #fff;
  font-size: .75rem;

  .copyrights {
    text-align: center;

    a {
      text-decoration: inherit;
      color: inherit;
    }
  }
}
