<article #counter id="counter" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap="5vw"
         fxLayoutGap.lt-sm="3rem" fxLayoutAlign="center">
  <div class="single-counter" fxLayout="column" fxLayoutAlign="center center" fxFlex="20vw" fxFlex.lt-lg="25vw" fxFlex.lt-sm="" fxGrow="1">
    <div class="single-counter-container">
      <div class="single-counter-content">
        <div class="number"><span class="counter" data-count="20">20</span></div>
        <p class="description">zestawów do zrywki<br>(ciągnik rolniczy +&nbsp;przyczepa z&nbsp;żurawiem lub wciągarką)</p>
      </div>
    </div>
  </div>
  <div class="single-counter" fxLayout="column" fxLayoutAlign="center center" fxFlex="20vw" fxFlex.lt-lg="25vw" fxFlex.lt-sm="" fxGrow="1">
    <div class="single-counter-container">
      <div class="single-counter-content">
        <div class="number"><span class="counter" data-count="50">50</span></div>
        <p class="description">drwali - operatorów<br>pilarek spalinowych</p>
      </div>
    </div>
  </div>
  <div class="single-counter" fxLayout="column" fxLayoutAlign="center center" fxFlex="20vw" fxFlex.lt-lg="25vw" fxFlex.lt-sm="" fxGrow="1">
    <div class="single-counter-container">
      <div class="single-counter-content">
        <div class="number"><span class="counter" data-count="9">9</span></div>
        <p class="description">zestawów<br>harvester&nbsp;+&nbsp;forwarder</p>
      </div>
    </div>
  </div>
</article>
