.section-header {
  margin-bottom: 4rem;

  .section-header-content {
    max-width: 300px;
    text-align: center;

    h2 {
      font-size: 2rem;
      text-transform: uppercase;
      margin: 0;
    }

    p {
      font-size: .9rem;
      margin: 1rem 0;
      position: relative;

      &:after {
        width: 125px;
        height: 6px;
        background-color: #006649;
        content: "";
        bottom: -1.5rem;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
      }
    }
  }
}
