<app-header>
  <h1 class="page-title">Zapytania ofertowe</h1>
</app-header>
<div class="content-container" fxLayout="row" fxLayout.lt-sm="column" style="margin-top: -64px">
  <section class="content-section content-section-big" fxLayout="column" fxFlex="50%" fxLayoutAlign="start">
    <app-section-header title="Zapytania ofertowe">
      Lorem ipsum dolor sit amet
    </app-section-header>
  </section>
  <section class="content-section content-section-big white-bg" fxLayout="column" fxFlex="50%" fxLayoutAlign="start">
    <app-section-header title="Ogłoszenia wyników">
      Lorem ipsum dolor sit amet
    </app-section-header>
  </section>
</div>
