<app-header bgUrl="assets/handshake_bg_2560.jpeg">
  <h1 class="page-title">Zapytania ofertowe</h1>
</app-header>
<main fxLayout="row" fxLayout.lt-md="column">
  <section class="section gray-bg" fxLayout="column" fxFlex="50%" fxLayoutAlign="start">
    <app-section-header title="Zapytania ofertowe">
      Aktualne zapytania ofertowe:
    </app-section-header>
  </section>
  <section class="section" fxLayout="column" fxFlex="50%" fxLayoutAlign="start">
    <app-section-header title="Ogłoszenia wyników">
      Wyników zapytań ofertowych:
    </app-section-header>
  </section>
</main>
