<div fxLayout="row" fxLayoutAlign="space-between">
  <h2>Informacja o&nbsp;plikach cookies</h2>
    <button mat-icon-button (click)="dismiss()">
      <mat-icon>close</mat-icon>
    </button>
</div>
<div fxLayout="row">
  <div fxLayout="column">
    <p>Informujemy, iż w&nbsp;celu optymalizacji treści dostępnych w naszym serwisie, dostosowania ich do Państwa
      indywidualnych potrzeb korzystamy z&nbsp;informacji zapisanych za pomocą plików cookies na urządzeniach końcowych
      użytkowników. Pliki cookies użytkownik może kontrolować za pomocą ustawień swojej przeglądarki internetowej.
      Dalsze korzystanie z&nbsp;naszego serwisu internetowego, bez zmiany ustawień przeglądarki internetowej oznacza, iż
      użytkownik akceptuje stosowanie plików cookies. Więcej informacji znajdziesz w&nbsp;naszej polityce prywatności.</p>
  </div>

</div>
