@import '../../../variables.scss';

header {
  top: -64px;
  overflow: hidden;
  position: absolute;
  background-image: url("../../../assets/forest_bg_2560.jpeg");
  background-position: 100% 50%;
  background-size: cover;

  .big {
    min-height: 75vh;
  }

  .bg {
    position: absolute;
    background-image: url("../../../assets/forest_bg_2560.jpeg");
    background-position: 100% 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(5px);
    top: 0;
    left: 0;
  }
}

.header-overlay {
  z-index: 1;
  position: relative;
  color: #fff;
  max-width: none;
  overflow: hidden;
  background-color: rgba(48, 60, 56, 0.58);
  padding: 64px 2rem 1.5rem 2rem;
}
