@import '../../../variables.scss';

.header {
  margin-top: -64px;
  overflow: hidden;
  position: relative;
  background-size: cover;

  &.big {
    min-height: 75vh;
  }

  &.fixed {
    background-attachment: fixed;

    @supports (-webkit-overflow-scrolling: touch) {
      background-attachment: scroll;
    }
  }
}

.header-overlay {
  z-index: 1;
  position: relative;
  color: #fff;
  max-width: none;
  overflow: hidden;
  background-color: rgba(48, 60, 56, 0.58);
  padding: 64px 2rem 1.5rem 2rem;
}

.webp {
  .header {
    background-image: url("../../../assets/forest_bg_2560.webp");
  }
}

.no-webp {
  .header {
    background-image: url("../../../assets/forest_bg_2560.jpeg");
  }
}
