<footer fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="col" fxFlex="50%" fxLayoutAlign="start start">
    <p>ZPHU Falco Henryk Słowikowski
      <br>NIP 7451331010, REGON 510476328
      <br>ul. Olsztyńska 11F, 12-122 Jedwabno
    </p>
  </div>
  <address class="copyrights" fxLayout="column" fxFlex="50%" fxLayoutAlign="start end">
    <p>Copyright&nbsp;©&nbsp;2020&nbsp;Codeve
      <br><a href="http://www.codeve.pl/">www.codeve.pl</a>
      <br>All&nbsp;rights&nbsp;reserved.
    </p>
  </address>
</footer>
