footer {
  background-color: #666;
  padding: 1.5rem;
  color: #fff;
  font-size: .75rem;

  p {
    margin: 0;
  }

  .copyrights {

    p {
      width: 100%;
      text-align: end;
    }

    a {
      text-decoration: inherit;
      color: inherit;
    }
  }
}
