<header fxLayout="row" fxLayoutAlign="center" [style.minHeight]="height" [style.backgroundPosition]="bgPos"
        style="position: relative">
  <div class="header-overlay" fxLayout="row" fxFlex="100%" fxLayoutAlign="start">
    <div fxLayout="column" fxLayoutAlign="space-between">
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="60%" fxFlex.lt-lg="100%">
          <div fxLayout="row">
            <h1 class="logo">falco</h1>
          </div>
          <div fxLayout="row">
            <p class="secondary-text">Firma ZPHU Falco funkcjonuje na rynku usług leśnych od
              1997 roku, prowadzi działalność na obszarze całego kraju. Wieloletnie doświadczenie oraz szeroki zakres
              prac
              w&nbsp;zmiennych
              warunkach dla różnych odbiorców, dały podstawy do wypracowania doświadczenia i&nbsp;świadczenia wysokiej
              jakości usług.</p>
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" fxFlexAlign="center" fxFlexFill>
          <nav class="nav-row" fxLayout="row" fxLayoutAlign="center center">
            <i class="material-icons nav-arrow" style="font-size: 6rem;">
              expand_more
            </i>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
