@import '../../../../variables.scss';

header {
  position: absolute;
  top: 0;
  background-image: url("../../../../assets/header-bg.jpg");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
}

.header-overlay {
  padding: 6rem 2rem 3rem 2rem;
  color: #fff;
  max-width: none;

  h1 {
    font-size: 8rem;
    margin: 0;
  }

  .logo {
    font-weight: normal;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: -.05em;
  }

  .secondary-text {
    margin: 1rem 0 0 0;
    font-size: 1.5rem;
  }

  .nav-row {
    height: 6rem;
    margin-top: 3rem;

    .nav-arrow {
      -webkit-animation: 1.5s infinite;
      animation: pulse 1.5s infinite;
    }
  }
}

@media all and (min-width: 600px) {
  .header-overlay {
    padding: 11rem 9rem 3rem 9rem;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}


mat-card {
  height: 100%;

  mat-card-title {
    margin-left: -16px;
  }

  .header-card-image {
    flex-grow: 1;
    background-image: url("../../../../assets/harvester.jpeg");
    background-size: cover;
    background-position: 100% 100%;
  }
}


