<main fxLayout="column">
  <section id="icons-1" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center start"
           fxLayoutAlign.lt-sm="center"
           fxLayoutGap.gt-xs="5%" fxLayoutGap.gt-md="10%">
    <article fxFlex="20%" fxFlex.lt-md="30%" fxFlex.lt-sm="100%">
      <figure class="figure" fxLayout="column" fxLayoutAlign="center center" data-aos-anchor-placement="center-bottom"
              data-aos="fade-right">
        <img src="assets/icons/truck.svg">
        <figcaption>
          <h2>Zrywka</h2>
          <p>Wykonujemy zrywkę półpodwieszaną drewna wielkowymiarowego oraz zrywkę nasiębierną drewna stosowanego i&nbsp;kłodowanego.</p>
        </figcaption>
      </figure>
    </article>
    <article fxFlex="20%" fxFlex.lt-md="30%" fxFlex.lt-sm="100%">
      <figure class="figure" fxLayout="column" fxLayoutAlign="center center" data-aos-anchor-placement="center-bottom"
              data-aos="zoom-in">
        <img src="assets/icons/trees.svg">
        <figcaption>
          <h2>Zagospodarowanie</h2>
          <p>Wykonujemy wszelkie prace związane z&nbsp;zagospodarowaniem takie jak przygotowanie gleby, zalesienia
            oraz
            odnowienia,
            ochronę lasu, czyszczenie, trzebież i&nbsp;cięcie ręczne.</p>
        </figcaption>
      </figure>
    </article>
    <article fxFlex="20%" fxFlex.lt-md="30%" fxFlex.lt-sm="100%">
      <figure class="figure" fxLayout="column" fxLayoutAlign="center center" data-aos-anchor-placement="center-bottom"
              data-aos="fade-left">
        <img src="assets/icons/saw.svg">
        <figcaption>
          <h2>Pozyskanie</h2>
          <p>Pozyskujemu zarówno dla Lasów Państwowych jak tez innych odbiorców np.&nbsp;wycinka pod autostrady,
            drogi szybkiego ruchu, linie brzegowe itp.</p>
        </figcaption>
      </figure>
    </article>
  </section>
  <section id="icons-2">
    <div class="content" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center start"
         fxLayoutAlign.lt-sm="center"
         fxLayoutGap.gt-xs="10%">
      <article fxFlex="75%" fxFlex.lt-md="100%">
        <p data-aos-anchor-placement="top-bottom"
           data-aos="fade-up" data-aos-duration="1500">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat."
          <br>~Henryk&nbsp;Słowikowski, właściciel</p>
      </article>
    </div>
  </section>
  <section id="counter-section" fxLayout="column" fxLayoutAlign.lt-sm="center center">
    <app-counter></app-counter>
  </section>
  <section id="cards">
    <div class="content" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="3rem"
         fxLayoutGap.lt-md="2rem"
         fxLayoutAlign="center start">
      <div fxLayout="column" fxLayoutGap="3rem" fxLayoutGap.lt-md="2rem">
        <mat-card class="mat-elevation-z0" fxLayout="column" data-aos-anchor-placement="center-bottom"
                  data-aos="fade-right">
          <img class="mat-card-image" src="assets/pile_of_woods_bg_2560.jpeg">
          <mat-card-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.</p>
            <button mat-flat-button color="accent" class="mat-flat-button mat-button-base mat-primary"
                    routerLink="/praca">
              <span class="mat-button-wrapper">Praca</span>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxLayout="column" fxLayoutGap="3rem" fxLayoutGap.lt-md="2rem" style="height: 100%">
        <mat-card class="mat-elevation-z0" fxLayout="column" data-aos-anchor-placement="center-bottom"
                  data-aos="fade-left">
          <mat-card-header>
            <mat-card-title>
              Lorem ipsum
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex
              ea commodo consequat.</p>
            <button mat-flat-button color="accent" class="mat-flat-button mat-button-base mat-accent"
                    routerLink="/praca">
              <span class="mat-button-wrapper">Przycisk</span>
            </button>
          </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z0" fxLayout="column" data-aos-anchor-placement="center-bottom"
                  data-aos="fade-up">
          <img class="mat-card-image" src="assets/harvester.jpeg"/>
          <mat-card-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex
              ea commodo consequat.</p>
            <button mat-flat-button color="accent" class="mat-flat-button mat-button-base mat-accent"
                    routerLink="/praca">
              <span class="mat-button-wrapper">Przycisk</span>
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
</main>
