<main fxLayout="column">
  <section id="offer" class="content-section content-section-big" fxLayout="column"
           fxLayoutAlign="center center">
    <span id="offer-anchor"></span>
    <app-section-header title="Nasza oferta">
      Firma Falco oferuje szeroki wachlarz usług:
    </app-section-header>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center start"
         fxLayoutAlign.lt-sm="center"
         fxLayoutGap="2.5% grid" fxLayoutGap.lt-lg="10% grid">
      <article fxFlex="20%" fxFlex.lt-lg="35%" fxFlex.lt-sm="100%">
        <figure class="figure" fxLayout="column" fxLayoutAlign="center center" data-aos-anchor-placement="center-bottom"
                data-aos="fade-right" data-aos-anchor="#icon-1">
          <img src="assets/icons/saw.svg" alt="Pozyskanie">
          <figcaption>
            <h3 id="icon-1">Pozyskanie</h3>
            <p>Pozyskujemu zarówno dla Lasów Państwowych jak tez innych odbiorców np.&nbsp;wycinka pod autostrady,
              drogi szybkiego ruchu, linie brzegowe itp.</p>
          </figcaption>
        </figure>
      </article>
      <article fxFlex="20%" fxFlex.lt-lg="35%" fxFlex.lt-sm="100%">
        <figure class="figure" fxLayout="column" fxLayoutAlign="center center" data-aos-anchor-placement="center-bottom"
                data-aos="zoom-in" data-aos-anchor="#icon-2">
          <img src="assets/icons/truck.svg" alt="Zrywka">
          <figcaption>
            <h3 id="icon-2">Zrywka</h3>
            <p>Wykonujemy zrywkę półpodwieszaną drewna wielkowymiarowego oraz zrywkę nasiębierną drewna stosowanego i&nbsp;kłodowanego.</p>
          </figcaption>
        </figure>
      </article>
      <article fxFlex="20%" fxFlex.lt-lg="35%" fxFlex.lt-sm="100%">
        <figure class="figure" fxLayout="column" fxLayoutAlign="center center" data-aos-anchor-placement="center-bottom"
                data-aos="zoom-in" data-aos-anchor="#icon-3">
          <img src="assets/icons/trees.svg" alt="Zagospodarowanie">
          <figcaption>
            <h3 id="icon-3">Zagospodarowanie</h3>
            <p>Wykonujemy wszelkie prace związane z&nbsp;zagospodarowaniem takie jak przygotowanie gleby, zalesienia
              oraz
              odnowienia,
              ochronę lasu, czyszczenie, trzebież i&nbsp;cięcie ręczne.</p>
          </figcaption>
        </figure>
      </article>
      <article fxFlex="20%" fxFlex.lt-lg="35%" fxFlex.lt-sm="100%">
        <figure class="figure" fxLayout="column" fxLayoutAlign="center center" data-aos-anchor-placement="center-bottom"
                data-aos="fade-left" data-aos-anchor="#icon-4">
          <img src="assets/icons/circular_saw.svg" alt="Tartak">
          <figcaption>
            <h3 id="icon-4">Tartak</h3>
            <p>Pozyskujemu zarówno dla Lasów Państwowych jak tez innych odbiorców np.&nbsp;wycinka pod autostrady,
              drogi szybkiego ruchu, linie brzegowe itp.</p>
          </figcaption>
        </figure>
      </article>
    </div>
  </section>
  <section id="ecology" fxLayout="row">
    <div class="content-section forest-background" fxLayout="column" fxFlex="50%" fxHide.lt-sm
         fxLayoutAlign="center center">
    </div>
    <div class="content-section white-bg" fxLayout="column" fxFlex="50%" fxFlex.lt-sm="100%"
         fxLayoutAlign="start center">
      <app-section-header title="Ekologia">
        Działając na rzecz ekologii wspieramy zrównoważoną gospodarkę leśną:
      </app-section-header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
    </div>
  </section>
  <section id="counter-section" class="content-section content-section-big" fxLayout="column"
           fxLayoutAlign="center center">
    <app-section-header title="W liczbach">
      Posiadamy rozbudowany park maszyn oraz wykwalifikowane zasoby kadrowe:
    </app-section-header>
    <app-counter></app-counter>
  </section>
  <section id="quotation">
    <div class="bg"></div>
    <div class="content" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center start"
         fxLayoutAlign.lt-sm="center"
         fxLayoutGap.gt-xs="10%">
      <article fxFlex="75%" fxFlex.lt-md="100%">
        <p data-aos-anchor-placement="top-bottom"
           data-aos="fade-up" data-aos-duration="1500">"Naszą największą wartość stanowią ludzie, to im nasza firma
          zawdzięcza swój sukces. Od zawsze doceniamy ich zaangażowanie oraz stale podnosimy kwalifikacje."
          <br>
          <br>~Henryk&nbsp;Słowikowski, właściciel</p>
      </article>
    </div>
  </section>
  <section id="map">
    <agm-map [latitude]="53.526871" [longitude]="20.717799" [zoom]="15" [scrollwheel]="false"
             [usePanning]="true" [streetViewControl]="false" [minZoom]="8" [maxZoom]="19" [styles]="[
          {
            featureType: 'poi.business',
            stylers: [{visibility: 'off'}]
            }]">
      <agm-marker [latitude]="53.526871" [longitude]="20.717799">
        <agm-info-window [isOpen]="true">
          <strong>ZPHU Falco Henryk Słowikowski</strong>
          <br>ul. Olsztyńska 11F
          <br>12-122 Jedwabno
          <br>Polska
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </section>
  <section id="partners" class="content-section-big" fxLayout="column" fxLayoutAlign.lt-sm="center center">
    <app-section-header title="Zaufali nam">
      Z naszych usług korzystają renomowane firmy oraz organizacje takie jak:
    </app-section-header>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="3rem" data-aos="fade-up">
      <img src="assets/partners/lp_logo.svg" style="height: 6rem" alt="Lasy Państwowe">
      <img src="assets/partners/velux_logo.svg" style="height: 2rem" alt="Velux">
    </div>
  </section>
</main>
