main {
  overflow: hidden;

  .main-row {
    padding: 3rem 1.5rem;
  }
}

.figure {
  margin: 0 0 2rem 0;

  figcaption {
    text-align: center;

    .header {
      font-size: 1.5rem;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

article:last-child {
  .figure {
    margin: 0;
  }
}

mat-card-title {
  margin-left: -16px;
}

.outlined-white {
  background: rgba(0,0,0,.05);
  border: 1px solid #fff;
  color: #fff
}


