@import "../../../../variables.scss";

main {
  overflow: hidden;
}

.figure {
  margin: 0 0 2rem 0;

  figcaption {
    text-align: center;

    .header {
      font-size: 1.5rem;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

article:last-child {
  .figure {
    margin: 0;
  }
}

mat-card-title {
  margin-left: -16px;
}

.outlined-white {
  background: rgba(0, 0, 0, .05);
  border: 1px solid #fff;
  color: #fff
}

#offer {
  position: relative;
  padding-top: 2rem;

  #offer-anchor {
    position: absolute;
    top: -128px;
  }

  img {
    width: 100px;
  }

  @media all and (max-width: 600px) {
    img {
      width: 33.3vw;
    }
  }

  h3 {
    text-transform: uppercase;
    position: relative;
    margin-top: 1.5rem;
  }

  p {
    font-size: .9rem;
    line-height: 1.5;
  }
}

#ecology {
  .forest-background {
    background-color: mat-color($falco-app-primary);
    background-image: url('../../../../assets/forest_bg_1280.jpeg');
    background-size: cover;
    background-position: 100% 100%;
  }
}

#quotation {
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 100%;
  background-image: url("../../../../assets/photos/Photo_2_2560_blur.jpg");
  color: #fff;

  .content {
    padding: 8rem 1.5rem;
    background-color: rgba(0, 0, 0, .3);

    p {
      font-size: 2rem;
      text-align: center;
      font-weight: 200;
      font-family: "Montserrat", sans-serif;
      line-height: 1.5;
      position: relative;
    }

    @media all and (max-width: 600px) {
      p {
        font-size: 1.5rem;
      }
    }
  }
}

#partners {
  padding: 5rem 1.5rem;
  background-color: #fff;
}

@supports (-webkit-overflow-scrolling: touch) {
  #quotation {
    background-attachment: scroll;
  }
}

agm-map {
  height: 600px;
}
