<app-header bgUrl="assets/planks_bg_2560.jpeg">
  <h1 class="page-title">Tartak</h1>
</app-header>
<main fxLayout="column" style="margin-top: -64px" fxLayoutAlign="start">
  <section id="sawmill" class="section section-big gray-bg" fxLayout="column"
           fxLayoutAlign="center center">
    <app-section-header title="Tartak">
      Falco posiada wyspecjalizowany tartak zajmuący się obróbką pozyskanego przez nas drewna:
    </app-section-header>
    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="3rem grid">
      <div class="sawmill-article" fxLayout="column" fxLayoutAlign="start center">
        <app-round-image bgUrl="assets/sawmill_1.jpg" size="250px"></app-round-image>
        <div data-aos="fade-up">
          <h3>Surowiec</h3>
          <p>Wysokiej jakości drewno do naszego tartaku pozyskujemy samodzielnie. Posiadamy certyfikaty PEFC oraz FSC
            gwarantujące, że stosowane przez nas drewno pochodzi z&nbsp;legalnych źródeł.</p>
        </div>
      </div>
      <div class="sawmill-article" fxLayout="column" fxLayoutAlign="start center">
        <app-round-image bgUrl="assets/sawmill_2.jpg" size="250px"></app-round-image>
        <div data-aos="fade-up">
          <h3>Traki</h3>
          <p>Posiadamy dwa traki do przecierania drewna okrągłego. W&nbsp;wyniku przetarcia
            otrzymujemy tarcicę nieobrzynaną do wykorzystania lub daleszej obróbki technologicznej.</p>
        </div>
      </div>
      <div class="sawmill-article" fxLayout="column" fxLayoutAlign="start center">
        <app-round-image bgUrl="assets/sawmill_3.jpg" size="250px"></app-round-image>
        <div data-aos="fade-up">
          <h3>Wielopiły</h3>
          <p>Dzięki zaawansowanym wielopiłom do rozkroju, cięcia drewna, wycinania desek i&nbsp;listew
            możemy
            zaoferować precyzyjnie przycięty asortyment o&nbsp;powtarzanlych wymiarach.</p>
        </div>
      </div>
    </div>
  </section>
  <div id="offer" fxLayout="column" fxLayout.lt-md="column">
    <section class="section primary-bg bg" fxLayout="column" fxLayoutAlign="center center">
    </section>
    <div fxLayout="row" fxLayoutAlign="center center">
      <section class="section section-big" fxLayout="column" fxFlex="50%" fxFlex.lt-lg="75%" fxFlex.lt-md="100%" fxLayoutAlign="center center">
        <figure class="icon-header">
          <img src="assets/icons/planks_nc.svg" alt="Deski" data-aos="zoom-in"
               data-aos-anchor-placement="center-bottom">
        </figure>
        <app-section-header title="Asortyment" data-aos="fade-up">
          Oferujemy szeroką gamę produktów i materiałów:
        </app-section-header>
        <div class="section-content">
          <p data-aos="fade-left">Oferujemy szeroki asortyment naszych produktów takich jak tarcica obrzynana oraz
            nieobrzynana, drewno
            konstrukcyjne i opałowe. Na zamówienie przygotowujemy kompleksowe konstrukcje więźb dachowych z wysokiej
            jakości drewna. Jesteśmy otwarci na Państwa potrzeby, nasz wykwalifikowany personel z chęcią udzieli Państwu
            informacji w celu dostarczenia produktu spełniającego Państwa potrzeby.</p>
          <button mat-flat-button color="accent" class="mat-flat-button mat-button-base mat-accent"
                  routerLink="/kontakt" data-aos="zoom-in">Skontaktuj się
          </button>
        </div>
      </section>
    </div>
  </div>
</main>
