@import "../../variables.scss";

#sawmill {
  .sawmill-article {
    max-width: calc(300px + 3rem);
    text-align: justify;

    app-round-image {
      margin-bottom: 1rem;
    }
  }
}

#offer {
  .planks-background {
    background-color: mat-color($falco-app-primary);
    background-image: url("../../assets/planks_1280.jpeg");
    background-size: cover;
    background-position: 100% 100%;
  }

  p {
    text-align: justify;
  }

  button {
    margin-top: 1rem;
  }
}
