@import "../../variables.scss";

#sawmill {
  .sawmill-article {
    max-width: calc(300px + 3rem);
    text-align: justify;

    app-round-image {
      margin-bottom: 1rem;
    }
  }
}

#offer {
  .bg {
    background-size: cover;
    background-position: 100% 100%;
  }

  .section-content {
    p {
      text-align: justify;
    }

    button {
      margin-top: 1rem;
    }
  }
}

.webp {
  #offer .bg {
    background-image: url("../../assets/planks_1280.webp");
  }
}

.no-webp {
  #offer .bg {
    background-image: url("../../assets/planks_1280.jpeg");
  }
}
