<article id="counter" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="3rem grid">
  <div class="single-counter-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="single-counter" fxLayout="column" fxLayoutAlign="center center">
      <div class="number"><span class="counter" data-count="20">20</span></div>
      <p class="description">zestawów do zrywki<br>(ciągnik rolniczy +&nbsp;przyczepa z&nbsp;żurawiem lub wciągarką)</p>
    </div>
  </div>
  <div class="single-counter-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="single-counter" fxLayout="column" fxLayoutAlign="center center">
      <div class="number"><span class="counter" data-count="50">50</span></div>
      <p class="description">drwali - operatorów<br>pilarek spalinowych</p>
    </div>
  </div>
  <div class="single-counter-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="single-counter" fxLayout="column" fxLayoutAlign="center center">
      <div class="number"><span class="counter" data-count="9">9</span></div>
      <p class="description">zestawów<br>harvester&nbsp;+&nbsp;forwarder</p>
    </div>
  </div>
</article>
