.mat-drawer-container {
  overflow: visible;

  .mat-drawer-content {
    overflow: visible;
  }
}

.mat-toolbar {
  height: 3rem;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #000;
  color: #fff;
}

mat-nav-list {
  padding: 0;
}

.mat-button {
  border-radius: 0;
  padding: 0 20px;
  line-height: 48px;

  &.active {
    border-bottom: 4px solid #fff;
  }
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: auto;
}

.sidenav {
  min-width: 50%;
}
