@import '../../variables.scss';

.mat-drawer-container {
  overflow: visible;
  background-color: rgb(248, 248, 248);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .mat-drawer-content {
    overflow: visible;
  }
}

mat-sidenav-container {
  mat-sidenav {
    mat-nav-list {
      margin-top: 0;
    }
  }
}

.mat-toolbar {

  height: 64px;
  font-family: inherit;
  font-weight: 400;

  &.menu-header {
    background-color: mat-color($falco-app-accent);
    color: inherit;
  }
}

.mat-toolbar {
  position: sticky;
  top: 0;
  padding-top: 0;
  z-index: 2;
  color: #fff;

  mat-nav-list {
    height: 100%;
  }

  .mat-list-base {
    padding-top: 0;
  }
}

mat-sidenav {
  mat-nav-list {
    margin-top: 3rem;
    padding: 0;

    .mat-list-item {
      font-family: inherit;
    }
  }
}

.mat-button {
  box-sizing: border-box;
  border-radius: 0;
  padding: .5rem 2rem 0 2rem;
  line-height: 50px;
  font-weight: 400;

  &.active {
    background: #f8f8f8;
    color: mat-color($falco-app-primary);
  }
}

.mat-toolbar {
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0);
  color: white;

  .mat-button {
    &:hover {
      position: relative;
      background: none;

      &:after {
        position: absolute;
        top: auto;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 6px;
        background: mat-color($falco-app-accent);
        content: "";
      }

      &.active {
        background: #f8f8f8;

        &:after {
          background: mat-color($falco-app-primary);
        }
      }
    }
  }

  &.toggled {
    color: mat-color($falco-app-primary);

    .mat-button {
      &.active {
        position: relative;
        background: none;

        &:after {
          position: absolute;
          top: auto;
          bottom: -6px;
          left: 0;
          width: 100%;
          height: 6px;
          background: mat-color($falco-app-primary);
          content: "";
        }
      }
    }
  }

}

.sidenav {
  min-width: 50%;
}

.top-header {
  padding: 1.5rem 3rem;
  height: 9.5rem;

  @media all and (max-width: 600px) {
    padding: 1.5rem 1.5rem;
  }

  img {
    margin-right: 1rem;
  }
}

.blur {
  filter: blur(5px);
}

address {
  background: mat-color($falco-app-accent);
  padding: 1rem;
  position: fixed;
  top: 0;
  right: 3rem;
  z-index: 3;

  h2 {
    font-size: 1rem;
    margin: 0 0 .5rem 0;
  }

  mat-divider {
    margin-bottom: .5rem;
  }

  p {
    font-size: .9rem;
    margin: .5rem 0 0 0;
    white-space: nowrap;

    .material-icons {
      font-size: 1.25rem;
      vertical-align: bottom;
      margin-right: 1rem;
    }
  }

  a {
    color: inherit;
    text-decoration: inherit;

    &:hover {
      color: mat-color($falco-app-primary);
    }
  }
}
