<app-header big="true" bgFixed="true">
  <div class="main-header" fxLayout="row" fxLayout.lt-md="column">
    <div fxLayout="column" fxFlex="55%" fxFlex.lt-md="100%" fxFill>
      <div class="home-header">
        <div fxLayout="row">
          <h1>Falco. Lider usług leśnych w&nbsp;regionie.</h1>
        </div>
        <div fxLayout="column">
          <p class="secondary-text">Firma ZPHU Falco funkcjonuje na rynku usług leśnych od
            1997 roku, prowadzi działalność na obszarze całego kraju. Wieloletnie doświadczenie oraz szeroki zakres
            prac w&nbsp;zmiennych warunkach dla różnych odbiorców, dały podstawy do wypracowania doświadczenia i&nbsp;świadczenia
            wysokiej jakości usług.</p>
          <button mat-flat-button color="accent" class="mat-flat-button mat-button-base mat-accent"
                  (click)="onClick('offer-anchor')">
            <span class="mat-button-wrapper">Nasza oferta</span>
          </button>
        </div>
      </div>
    </div>
    <div class="header-picture" fxLayout="column" fxFlex="45%">
      <div class="header-picture-wrapper">
        <figure>
        </figure>
      </div>
    </div>
  </div>
</app-header>
<app-main></app-main>
